# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
build/*

# Other
*.pyc
*.zip
pysuperansac.egg-info/*
.vscode/
pyproject.toml
*.egg
*.csv
*.pdf
tests/*.csv
/_build
